:root {
    --color-primary: #ff7300;
    /* --color-primary: #var(--color-primary); */
    --color-secundary: #b45202;
    /* --color-secundary:  rgb(46, 46, 243); */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

input,
select {
    border-radius: 5px;
    border-width: 1px;
    padding: 5px;
}

input[type="search"] {
    outline-offset: 0;
}

/* CHANGE OF BOOSTRAP */
div:where(.swal2-container).swal2-center>.swal2-popup {
    font-size: 1.6rem;
}

.navbar,
.btn-primary {
    background-color: var(--color-primary) !important;
    border-color: var(--color-primary);
}

.btn-primary:hover {
    border-color: var(--color-primary);
    background-color: var(--color-secundary) !important;
}

.calendar-container {
    background-color: rgb(173, 173, 173);
}

.table {
    margin: 0 auto;
    margin-bottom: 3rem;
}

/* CHANGE OF BOOSTRAP */
.navbar a {
    color: white;
    background-color: var(--color-secundary);
    padding: 1rem;
    border-radius: 1rem;
    width: 12rem;
    text-align: center;
}

.navbar a:hover {
    color: white;
    font-weight: bold;
}

.inputs-filter,
.inputs-filter form {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    align-items: end;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.inputs-filter button {
    width: 30rem;
    background-color: var(--color-primary);
    color: white;
}

.inputs-filter button:hover {
    background-color: var(--color-secundary);
}

.inputs-filter input {
    padding: 0;
    font-size: 1.6rem;
    height: 31.3px;
}

.buttons-admin span {
    display: flex;
    justify-content: center;
}

.buttons-admin button {
    color: var(--color-primary);
}

.buttons-admin button:hover {
    color: white;
    background-color: var(--color-secundary);
}

#dateAppo,
#timeAppo {
    width: 14rem;
    text-align: center;
}

#timeAppo {
    pointer-events: none;
}

td {
    cursor: default;
}

.disable {
    pointer-events: none;
    opacity: 50%;
}

.show {
    display: block;
}

.selected {
    background-color: var(--color-primary);
}

.navbar {
    padding: 2rem 3rem;
}

nav .navbar-brand,
nav .navbar-toggler {
    font-size: 2rem;
}

.form-inline {
    gap: 2rem;
}

.btn-search,
.btn-clean {
    border: none;
    color: white;
    background-color: var(--color-primary);
}

.bi-search,
.bi-x-lg {
    font-size: 2rem;
}

.bi-search:hover,
.bi-x-lg:hover {
    color: black;
}

.nav-item {
    text-align: center;
}

.navbar .navbar-brand {
    color: white;
}

.navbar-light .navbar-brand:hover {
    color: white;
    pointer-events: none;
}

.bi-calendar3 {
    font-size: 2rem;
}

.calendar-container {
    width: 30rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    border-radius: 2rem 0 0 0;
}

.calendar-container input {
    height: 3rem;
}

.content-appo {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.hours {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.hours span {
    background-color: var(--color-primary);
    color: white;
    font-weight: bold;
    width: 10rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    border-style: solid;
    border-width: 0px 5px 5px 0;
    border-color: var(--color-secundary);

}

.hours span:hover {
    cursor: pointer;
    box-shadow: 3px 3px 5px black;
    position: relative;
    bottom: 2px;
    right: 2px;
}

.main {
    display: flex;
}

.main-deparment {
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}

.formCenso {
    width: 30rem;
    margin: 4rem auto;
}

.formRow {
    display: flex;
    flex-direction: column;
}

.formButtons {
    display: flex;
    gap: 2rem;
}

.button {
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 4rem;
    margin: 0 auto;
    margin-top: 2rem;
    font-weight: bold;
}

.alert {
    margin-top: 2rem;
    text-align: center;
}

.modal,
.modal-title,
.btn {
    font-size: 1.6rem;
}

.modal {
    padding: 0 2rem;
}

.modal-body {
    overflow: auto;
    max-height: 70vh;
}